{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    //"transform-decorators-legacy",
    //["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
