.orderItem {
  border: 1px solid rgba(221, 221, 221, 1);
  margin-bottom: 10px;

  .header {
    height: 40px;
    line-height: 40px;
    background: rgba(243, 243, 243, 1);
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    padding: 0 15px;
  }

  .itemInner {
    padding: 0 15px;

    .goodsImg {
      width: 60px;
      height: 60px;
      margin: 15px 15px 15px 0;
    }

    .goodsName {
      width: 304px;
      margin: 15px 15px 15px 0;
    }

    .size, .price, .num {
      margin: 15px 15px 15px 0;
    }

    .size {
      width: 100px;
    }

    .num {
      text-align: right;
      width: 60px;
    }
  }
}

.ralPay, .action {
  position: relative;
  border-left: 1px solid #DDDDDD;
  width: 150px;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

.action {
  width: 126px;
  .content{
    width: 126px;
  }
}
