.navCrumbWrap {
  padding: 20px 0;

  .left {
	float: left;
  }

  .right {
	float: right;
	.totalGoods {
	  color: @red
	}
  }

  .navSelect {
	min-width: 100px;
  }

  .item {
	float: left;
	color: #333333;
	font-size: 14px;
	margin-right: 15px;
  }

  .arrow {
	margin-right: 15px;
  }
}