.goodsImgPrevWrap {
  position: relative;
  width: 514px;
  height: 424px;
}


.leftListWrap {
  float: left;
  width: 80px;
  height: 424px;
  margin-right: 10px;
  overflow: hidden;
  background: #999999;

  .prevBtn {
    display: inline-block;
    float: left;
    width: 80px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #DDDDDD;

    &:first-child {
      //margin-bottom: 8.8px;
    }

    > span {
      font-size: 20px;
      color: #DDDDDD;
    }

    &:hover {
      border: 1px solid @primary-color;

      > span {
        color: @primary-color;
      }
    }

    &.disabled {

    }
  }

  .thumListWrap {
    position: relative;
    float: left;
    width: 80px;
    height: 362px;
    overflow: hidden;

    .thumListInner {
      position: absolute;
      width: 80px;
      padding-top: 10px;

      .item {
        width: 78px;
        height: 78px;

        .thumImg, .alink {
          width: 100%;
          height: 100%;
        }

        .alink {
          display: inline-block;
        }
      }

      .item {
        margin-bottom: 10px;

        &.active, &:hover {
          .alink {
            border: 3px solid @primary-color;
            margin: 0;
          }
        }
      }

    }

  }
}


.imgWrap {
  float: left;
  width: 424px;
  height: 424px;
  background: #cccccc;
}
