.goodsImgPrevWrap {
  position: relative;
  width: 514px;
  height: 424px;
}


.leftListWrap {
  float: left;
  width: 80px;
  height: 424px;
  margin-right: 10px;
  overflow: hidden;
  //background: #999999;

  .prevBtn {
    display: inline-block;
    float: left;
    width: 80px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #DDDDDD;

    &:first-child {
      //margin-bottom: 8.8px;
    }

    > span {
      font-size: 20px;
      color: #DDDDDD;
    }

    &:hover {
      border: 1px solid @primary-color;

      > span {
        color: @primary-color;
      }
    }

    &.disabled {
      border: 1px solid #DDDDDD;
      cursor: not-allowed;

      > span {
        color: #DDDDDD;
      }
    }
  }

  .thumListWrap {
    position: relative;
    float: left;
    width: 80px;
    height: 362px;
    overflow: hidden;

    .thumListInner {
      position: absolute;
      width: 80px;
      padding-top: 10px;

      .item {
        width: 78px;
        height: 78px;
        border: 1px solid @primary-color;

        .thumImg, .alink {
          width: 100%;
          height: 100%;
        }

        .alink {
          display: inline-block;
        }
      }

      .item {
        margin-bottom: 10px;

        &.active, &:hover {
          border: 3px solid @primary-color;
        }
      }

    }

  }
}


.imgBox {
  position: relative;
  float: left;
  width: 424px;
  height: 424px;
  background: #cccccc;
  //margin-right: 10px;
  .small {
    position: relative;
    width: 424px;
    height: 424px;
    background-size: contain;

    .mask {
      position: absolute;
      width: 205px;
      height: 205px;
      //background: #333333;
      /* background-image: url(maskHover.png); */
      background-image: radial-gradient(rgba(124, 165, 236, 0.4) 30%, transparent 0), radial-gradient(rgba(124, 165, 236, 0.4) 30%, transparent 0);
      background-size: 3px 3px;
      background-position: 0 0, 3px 3px;
      top: 0;
      left: 0;
      cursor: move;
    }
  }


  .big {
    width: 424px;
    height: 424px;
    position: absolute;
    top: 0;
    left: 440px;
    //border: 1px solid #ccc;
    overflow: hidden;
    z-index: 99;

    .bigImg {
      width: 848px;
      height: 848px;
    }
  }

  /*img {
    width: 100%;
    height: 100%;
  }*/
}


/*
.large {
  position: relative;
  display: none;
  float: left;
  overflow: hidden;
  width: 424px;
  height: 424px;
}

.large img {
  position: absolute;
  top: 0;
  left: 0;
}
*/
